{% extends 'usuario/base_login.html' %}

{% block title %}
Logout - PortafolioAdmin 
{% endblock title %}
    
{% load static %}
{% load crispy_forms_tags %}
{% block container %}

    <main>
        <div class="container">
          
          <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">
                  
                  <div class="d-flex justify-content-center py-4">
                    <a href="index.html" class="logo d-flex align-items-center w-auto">
                      <img src="{% static 'assets/img/logo.png' %}" alt="">
                      <span class="d-none d-lg-block">PortafolioAdmin</span>
                    </a>
                  </div><!-- End Logo -->
    
                  <div class="card mb-3">
    
                    <div class="card-body">
    
                      <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Su sesión ha sido finalizada</h5>
                        <p class="text-center small">Si desea iniciar sesión de nuevo pulse el boton</p>
                      </div>
                      <div class="col-12">
                        <a class="btn btn-primary w-100" href="{% url 'login-page' %}">Iniciar sesión</a>
                      </div>
                    </div>
                  </div>    
                </div>
              </div>
            </div>
    
          </section>
    
        </div>
      </main><!-- End #main -->

{% endblock container %}